@charset "UTF-8";
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.findPw {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 3rem 0;
}

.findPw__box {
    width: 440px;
    padding: 6rem 1.2rem;
    background: #fff;
    box-shadow: var(--box-shadow__A);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findPw__title {
    font-size: 2rem;
    color: var(--orange-5);
    margin-bottom: 1.2rem;
}

.findPw__form-cnt {
    width: 100%;
    padding: 2.4rem 0;
}

.findPw__input-box {
    padding-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.findPw__input-box:first-child {
    padding-top: 0;
}

.findPw__input-box > label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--orange-5);
    margin-bottom: 0.3rem;
}

.findPw__input-box > input[type=text] {
    width: 93%;
    margin-top: 0.6rem;
    height: 40px;
    padding: 0 0.8rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 0.8rem;
    color: #292A5D;
}

.findPw__input-box > input:focus {
    outline-color: var(--orange-5);
}

.findPw__input-box > button {
    margin-top: 0.3rem;
    height: 28px;
    border-radius: 1rem;
    background: var(--orange-5);
    font-size: 0.8rem;
    color: #fff;
    transition: .3s;
    padding: 0.3rem 0.9rem;
}

.findPw__input-box > button:hover {
    background: var(--orange-2);
}

.findPw__btn {
    width: 100%;
    height: 45px;
    border-radius: 1rem;
    background: var(--orange-5);
    font-size: 1.2rem;
    color: #fff;
    transition: .3s;
    margin-top: 1rem;
    font-weight: bold;
}

.findPw__btn:hover {
    background: var(--orange-2);
}