/* 모임 메뉴 */
.crew-menu__items {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 30px 0;
  font-size: 20px;
}

.crew-menu__items li {
  margin: 0 15px;
}

.crew-menu__items a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.crew-menu__items a:hover {
  color: var(--orange-5);
}

/* 모임 배너 이미지 */
.crew-banner-container {
  width: 100%;
}

.crew-banner {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

/* 지역 & 카테고리 & 아이콘 */
.crew-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.crew-geo, .crew-category {
	display: inline-block;
	margin: 10px 10px 10px 0;
	border-radius: 20px;
  background-color: var(--orange-4);
  padding: 8px;
  font-size: 14px;
  color: white;
}

.crew-info-left {
  display: flex;
}

.crew-info-icon {
  width: 37px;
  height: 37px;
  padding: 8px;
  cursor: pointer;
}

/* 모임정보 & 모임멤버 섹션 */
.crew-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  height: 500px;
}

.left-section {
  flex: 3;
  margin-right: 20px;
}

.right-section {
    max-height: 500px; 
    overflow-y: auto;
  flex: 1; 
  background-color: var(--gray-1);
  border-radius: 20px;
  padding: 10px;
}

/* 모임정보 */
.crew-name {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.crew-content {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 370px;
}

.btn-main {
  margin-right: 15px;
  border-radius: 10px;
  background-color: var(--orange-4);
  padding: 8px;
  font-size: 14px;
  width: 650px;
  color: white;
  text-align: center;
}

.btn-main:hover {
	background-color: var(--orange-5);
}

.like-icon {
  height: 30px;
  width: 30px;
}

/* 모임멤버 */
.crew-member-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.crew-member-list {
	margin-top: 20px;
}

.crew-member {
  width: 50%;
  font-weight: bold;
  display: flex;
}

.member-management-wrap {
  display: flex;
  align-items: center;
}

.group-icon member-management {
  display: inline-block;
}

.member-management {
  color: black;
}

.crew-member-item {
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.member-badge-leader, .member-badge-admin {
  position: absolute; /* 추가: 절대 위치 설정 */
  bottom: 0; /* 추가: 하단에 위치 */
  right: 160px; /* 추가: 우측에 위치 */
  padding: 5px; /* 추가: 뱃지 내부 여백 */
  border-radius: 50px;
}

.member-badge-leader {
  background-color: lightpink;
}

.member-badge-admin {
  background-color: var(--blue-3);
}

.crew-member-item a {
  text-decoration: none;
}

.crew-member-img, box-icon[type="solid"][name="user-circle"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.crew-member-nickname {
  font-weight: bold;
  line-height: 50px; 
  margin: 0; 
  color: black;
}

/* 수정 및 삭제 팝업 */
.edit-delete-popup {
  display: none; 
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
}

.edit-delete-popup a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

/* 정모 */
.meeting-container {
	width: 100%;
	margin-bottom: 50px;
}

.meeting-head {
	margin: 20px 0;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meeting-logo {
	font-size: 1.6rem;
    font-weight: bold;
    margin-left: 10px;
}

.meeting-insert-btn {
  margin-left:auto;
  border-radius: 10px;
  background-color: var(--orange-4);
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  color: white;
}

.meeting-insert-btn:hover {
  background-color: var(--orange-5);
}

.meeting-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .meetingOne-container {
    flex: 0 0 calc(50% - 10px); /* 50% 너비에 간격을 위한 여유를 줌 */
    box-sizing: border-box;
  }
}

/* 정모 하나 */
.meetingOne-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.meetingOne {
	width: 420px;
	border-radius: 20px;
	padding: 20px 30px;
	text-align: left;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
	transition: box-shadow 0.3s ease; /* 부드러운 전환 효과 추가 */
	line-height: 20px;
}

.meeting-header {
  font-size: 20px;
  margin-bottom: -30px;
}

.meeting-header>div {
  margin-bottom: 10px;
}

.meeting-member-icon {
  cursor: pointer;
}

.meetingOne:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 호버 시 더 진한 그림자 */
}

.meeting-info>img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  margin-right: 20px;
}

.meeting-date {
	font-weight: bold;
}

.meeting-name {
	font-size: 19px;
	margin-bottom: 10px;
}
.meeting-info {
  display: flex;
  font-size: 17px;
}

.meeting-info>div>div {
  margin: 7px 7px;
}

.meeting-icon {
	width: 460px;
  padding-left: 35px;
  position: relative; /* 상대 위치 설정 */
  display: inline-block; /* 내부 요소들을 인라인 블록으로 설정 */
}

.meeting-icon>span>a {
  width: 30px;
  height: 30px;
}

.list-icon {
  position: absolute; /* 절대 위치 설정으로 다른 요소 위에 올라가게 함 */
  top: 0; /* 상단에서 0px의 위치에 배치 */
  left: 390px; /* 왼쪽에서 0px의 위치에 배치 */
  z-index: 1; /* 다른 요소보다 위에 오게 설정 */
}

.meeting-attendExit-btn {
  width: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--blue-3);
  padding: 8px;
  display: inline-block;
  color: white;
  position: relative;
  left: 359px;
  bottom: 30px;
}

.meeting-attendExit-btn:hover {
	background-color: var(--blue-4);
}

/* 모임에 참여한 멤버 리스트 모달 */
/* 모달 기본 스타일 */
.modal {
  display: none; /* 기본적으로 모달을 숨김 */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* 모달 콘텐츠 */
.modal-content {
  position: absolute;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* 정모 멤버 */
.meeting-member-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.meeting-member {
  width: 50%;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
}
.meeting-member-management-wrap {
  display: flex;
}
.meeting-member-img, box-icon[type="solid"][name="user-circle"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}