.swiper {
  width: 100%;
  height: 300px;

  .swiper-wrapper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  border-radius: 20px;
}